[submodule "external"]
	path = external
	url = git@github.com:enabled-robotics/DockerClient.git
[submodule "external/DockerClient"]
	path = external/DockerClient
	url = git@github.com:enabled-robotics/DockerClient.git
