[submodule "extern/pybind11"]
	path = extern/pybind11
	url = ../../pybind/pybind11
	branch = stable
[submodule "DockerClient"]
	path = DockerClient
	url = https://github.com/enabled-robotics/DockerClient
